.side-bar:pressed:hover {
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
}

.side-bar:hover {
    -fx-background-color: #383838;
    -fx-scale-y: 1.1;
}

.button:hover {
    -fx-background-color: #383838;
}

.jfx-button {
    -jfx-disable-visual-focus: true;
    -fx-background-radius: 0px;
    -fx-border-radius: 0px;
}

