.side-bar:pressed:hover {
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
}

.side-bar:hover {
    -fx-background-color: #838383;
    -fx-scale-y: 1.1;
}

.button:hover {
    -fx-background-color: #838383;
}

.jfx-button:hover {
    -fx-background-color: #838383;
}

.jfx-button {
    -fx-background-color: #383838;
    -jfx-disable-visual-focus: true;
    -fx-background-radius: 0px;
    -fx-border-radius: 0px;
}
.chooseButton {
    -fx-background-color: white;
    -jfx-disable-visual-focus: true;
    -fx-background-radius: 0px;
    -fx-border-radius: 0px;
}

.chooseButton:hover {
    -fx-background-color: #F8F8F8;
}

.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-background-color: #eceff1;

    -fx-stroke: transparent;
    -fx-size:50;
    -fx-alignment: CENTER ;
    -fx-text-alignment: center;

}

.table-row-cell:filled:hover {
    -fx-size:50;
    -fx-alignment: CENTER;
    -fx-text-alignment: center;
}

.table-view:row-selection {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-fixed-cell-size: 50;
    -fx-alignment: CENTER;
    -fx-text-alignment: center;
}

.table-view .table-column{
    -fx-text-alignment: center;
    -fx-alignment: CENTER;
}

